.academic__courses {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.academic__courses__box {
    display: flex;
    
}

.academic__courses__item__img {
    background-color: #fff;
    align-items: center;
    display: flex;
    height:20vh;
}

.academic__courses__item__img img {
    align-items: center;
    display: flex;
    flex: 1;
    height: 15vh;
}

.academic__courses__item__title h4,
.academic__courses__item__subtitle p {
    margin-top: 0.5rem;
    color: var(--color-cuarto);
}

@media (max-width:425px) {
    .academic__courses {
        flex-direction: column;
        gap: 2rem;
    }

    .academic__courses__box {
        width: 100%;

    }
}